.carrossel__titulo{
    background: var(--branco);
    color: var(--laranja);
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.swiper-pagination{
    position: initial;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, 
.swiper-button-next{
    display: none;
}

@media screen and (min-width: 1024px){
    .carrossel__titulo{
        font-size: 1.625rem;
        padding: 2rem 0;
    }

    .swiper-pagination{
        margin: 2rem 0;
    }

    .swiper-button-prev, 
    .swiper-button-next{
       display: block;
    }

    .swiper-slide img{
        width: 80%;
    }
}

@media screen and (min-width: 1728px){
    .carrossel__container{
        display: flex;
        margin: 2rem 20vw 2rem 20vw;
    }

    .carrossel__imagem{
        height: auto;
        width: 100%;
    }
}