.cabecalho{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cabecalho__menu-hamburguer{
    background-image: url(../img/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}

.container{
    align-items: center;
    display: flex;
}

.cabecalho__imagem{
    padding: 1rem;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista__menu-titulo, 
.lista__menu-item{
    background-color: var(--branco);
    padding: 1rem;
}

.lista__menu-link{
    background-clip: text;
    color: var(--azul-degrade);
    text-decoration: none;
    text-transform: uppercase;
}

.lista__menu-titulo{
    color: var(--laranja);
    font-weight: 700;
}

/*Espécie de condicional com CSS
Caso o botão esteja "checado" o til significa que ele irá procurar
um elemento subsequente, ou seja, a classe .lista-menu e
colocar as propriedades dentro dela*/
.container__botao:checked~.lista-menu{
    display: block;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.lista__container{
    display: none;
}

@media screen and (min-width: 1024px){
    .container__titulo,
    .container__titulo-negrito{
        display: inline-block;
        font-family: var(--fonte-secundaria);
        font-size: 1.875rem;
    }

    .container__titulo{
        font-weight: 400;
    }

    .container__titulo-negrito{
        font-weight: 700;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .cabecalho__imagem-favoritos{
        display: none;
    }

    .lista__container{
        display: flex;
    }

    .lista__container-item{
        color: var(--preto);
        padding: 0 1rem;
        text-transform: uppercase;
    }

    .lista__container-link{
        text-decoration: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }
}